ShowAdam ($p: (occupation:*?,age:(value:*)?,name:*)):* {
    <h1>Adam or son</h1>
    {<b>$p.name is a $p.occupation</b>|
    <i>$p.name: $p.age.value yeas</i>|
    <emph>$p.name is unemployed but not still alive!</emph>}
}