@function ShowPersons $persons {
  @for $p $persons {
    <div>
      {<a href="mailto:$p.email">$p.name</a>|<b>$p.name</b>}
      {<br><b>Phone></b>: $p.phone | }
    </div>
  }
}

  <html>
    <head>
      <title>$data.title</title>
    </head>
    <body>
      <h1>Teachers</h1>
      @ShowPersons $data.teachers

      {<h1>Students</h1>
      @ShowPersons $data.students | }
    </body>
  </html>
